@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.header {
  background: #353546;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .left {
  color: white;
  font-weight: bold;
  display: block;
  margin-left: 10vw;
}

.header .right {
  margin-right: 10vw;
}

.subtitle {
  opacity: .5;
}

.app {
  text-align: center;
}

.fa-github {
  color: white;
  opacity: .4;
}

.fa-search {
  color: #353546;
  margin-right: 10px;
  cursor: pointer;
}

.search-box {
  background: white;
  opacity: .4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 340px;
}

.search-input {
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 1rem;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-row:first-of-type {
  border-top: solid 1px #eeeef3;
}

.user-row {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #eeeef3;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.count {
  color: #a4a4a9;
  margin: 4vh 0;
}

.user-row:hover {
  background: #eeeef3;
}

.avatar {
  border-radius: 50%;
  margin: 0 1vw 0 10vw;
}

.modal {
  position: fixed;
  /* background: white; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.3s;
}

.modal .content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  border: solid 1px #eeeef3;
}

.pagination {
  padding: 40px 0;
}

.pagination ul {
  display: inline-block;
}

.pagination li {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  outline: none;
}

.active {
  font-weight: bold; 
  border: solid 2px #353546;
  color: #353546;
}

.page-link {
  cursor: pointer;
  outline: none;
}