.user-details,
.stats {
  display: flex;
}

.avatar-large {
  margin-top: 30px;
  width: 50%;
  height: auto;
}

.basic-info {
  margin: 0 40px;
}

.basic-info div {
  margin: 10px 0;
}

.basic-info .login {
  opacity: .4;
}

.user-details .left {
  border-right: solid 1px #eeeef3;
  max-width: 40%;
}

.user-details .right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.column .number {
  font-size: 4rem;
}

.user-details .link {
  position: absolute;
  bottom: 0;
  margin: 35px 0;
}